/*
打印机打印设置
*/
/*@media print里面的内容只对打印出来的内容有效，之外的内容就是屏幕显示的样式。*/
@media print {
    #bg {
        background-image:url(image/进账单.jpg);
        background-size:846px 417px;
        background-repeat:no-repeat;
        /*background-size:1190px 570px;*/

        
 /*       
        width:550pt; 
        height:230pt;
 */
        padding:0pt; 
        margin-top: 0pt;

    }   
    #Date_3 {
        position: relative;
        left: 255pt;
        vertical-align:baseline;
        transform: translate(0pt,23pt);
        font-family:"SimHei";
        font-size:16pt;
    }

    #Out_Name_3 {
        position: relative;
        left: 135pt;
        width:280pt;
        vertical-align:baseline;  
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }   
    #In_Name_3 {
        position: relative;
        left: -282pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Out_Accounted_3 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Accounted_3 {
        position: relative;
        left: -282pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Out_Bank_3 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Bank_3 {
        position: relative;
        left: -282pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Money_complex_3 {
        font-size:15pt;
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Money_Arab_3 {
        font-size:20pt; 
        position: relative;
        left: -242pt;
        vertical-align:baseline;
        transform: translate(0pt,10pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Bill_Type_3 {
        position: relative;
        left: 135pt;
        width:200pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Bill_Count_3 {
        position: relative;
        left: -405pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Bill_Num_3 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Add_Info_3 {
        position: relative;
        left: 335pt;
        vertical-align:baseline;
        transform: translate(0pt,-50pt);
        word-break : break-all;
        font-family:"SimHei";
        font-size:16pt;
    }
    #Use_3 {
        position: relative;
        left: 335pt;
        vertical-align:baseline;
        transform: translate(0pt,-50pt);
        word-break : break-all;
        font-family:"SimHei";
        font-size:16pt;
    }

    #bg2 {
        background-image:url(image/电汇单.jpg);
        background-size:846px 417px;
        background-repeat:no-repeat;
        /*background-size:1190px 570px;*/
        padding:0pt; 
        margin-top: 0pt;
    } 
  
    #Type_Select {
        position: relative;
        left: 72pt;
        vertical-align:baseline;
        transform: translate(0pt,17pt);
      }
     
    #Date_4 {
        position: relative;
        left: -145pt;
        vertical-align:baseline;
        transform: translate(0pt,20pt);
        font-family:"SimHei";
        font-size:16pt;
        letter-spacing:0pt;
    }
    
    #Out_Name_4 {
        position: relative;
        left: 135pt;
        width:200pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Name_4 {
        position: relative;
        left: -82pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Out_Accounted_4 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Accounted_4 {
        position: relative;
        left: -82pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Out_Bank_4 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Bank_4 {
        position: relative;
        left: -82pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Money_complex_4 {
        font-size:15pt;
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Money_Arab_4 {
        font-size:20pt; 
        position: relative;
        left: -18pt;
        vertical-align:baseline;
        transform: translate(0pt,7pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #Add_Info_4 {
        position: relative;
        left: 335pt;
        vertical-align:baseline;
        transform: translate(0pt,-70pt);
        word-break : break-all;
        font-size:12pt;
    }
    #Use_4 {
        position: relative;
        left: 335pt;
        vertical-align:baseline;
        transform: translate(0pt,40pt);
        word-break : break-all;
        font-size:12pt;
    }


    #Out_Province_4 {
        position: relative;
        left: 135pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
    #In_Province_4 {
        position: relative;
        left: -72pt;
        vertical-align:baseline;
        transform: translate(0pt,0pt);
        font-family:"SimHei";
        font-size:16pt;
    }
   
}